.context_menu_container {
  position: absolute;
  background-color: var(--color);
  color: var(--background-color);
  box-shadow: 0 0 5px var(--nav-color);
  z-index: 1000;
}

.context_menu_close_icon {
  display: flex;
  justify-content: flex-end;
}

.context_menu_options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3125rem;
  padding: 0 0.625rem 0.625rem 0.625rem;
}

.context_menu_option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3125rem;
  cursor: pointer;
}
