.container {
  width: 100%;
  max-width: 64rem;
  padding: 1.875rem 0;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.875rem;
}

.logo {
  width: 15.9375rem;
  height: 14.4375rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
}

.title a {
  color: var(--color);
  text-decoration: none;
}

.title a:hover {
  color: var(--white);
}