.container {
  width: 100%;
  max-width: 64rem;
  padding: 1.875rem 1.25rem;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.875rem;
}

.logo {
  width: 15.9375rem;
  height: 14.4375rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.3125rem 0;
}

.links_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.users_links_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 2rem;
}

@media screen and (max-width: 992px) {
  .logo {
    width: 150px;
    height: 136px;
  }
}
