.navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--nav-color);
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo_header {
  width: 5.3375rem;
  height: 4.8375rem;
  padding: 0.625rem;
}

.link {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--white);
}

.link:hover {
  color: var(--color);
}

.offcanvas {
  color: var(--color);
  background-color: var(--background-color);
}

.navbar {
  --bs-navbar-toggler-padding-y: 0;
  --bs-navbar-toggler-font-size: 1.5rem;
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0;
}

.navbar-dark {
  --bs-navbar-toggler-border-color: none;
}

.links_container {
  display: flex;
  justify-content: end;
  align-items: center;
}
