.card_user_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 81, 0, 0.6);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card_user_container:hover {
  transform: translateY(-5px);
}

.card_user_body {
  padding: 0.5rem 1.5rem;
}

.card_user_name {
  color: var(--white);
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  padding: 0;
}

.card_user_qtd_links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 0.8rem;
}

.card_user_count {
  color: var(--white);
  font-size: 0.8rem;
}
