.container {
  width: 100%;
  max-width: 1024px;
  padding: 30px 0;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.logo {
  width: 255px;
  height: 231px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.title a {
  color: var(--color);
  text-decoration: none;
}

.title a:hover {
  color: var(--white);
}