/* TODO limpar css esqueci a senha */
.container {
  width: 100vw;
  height: calc(100vh - 5.4619rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 43.75rem;
  height: 31.25rem;
  background-color: var(--nav-color);
  border-radius: 10px;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.logo {
  width: 5.5594rem;
  height: 5.0469rem;
}

.title {
  text-align: center;
  color: var(--white);
  padding: 0.625rem;
  font-size: 1.75rem;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 0 1.875rem;
}

.input {
  margin: 0.625rem;
  width: 100%;
}

.control {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
}

.eye {
  cursor: pointer;
}

.button {
  margin-top: 1.875rem;
  font-weight: 600;
  padding: 0.625rem 2.5rem;
  background-color: var(--background-color);
  color: var(--nav-color);
  font-size: 1.125rem;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  margin-top: 0.625rem;
}

.link {
  color: var(--color);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--background-color);
}
