.container {
  width: 100vw;
  padding: 10px;
}

.user {
  margin: 0;
}

.folders_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.add_folder_icon {
  cursor: pointer;
}

.folder_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
}

.context_menu_container {
  position: absolute;
  background-color: var(--color);
  color: var(--background-color);
  box-shadow: 0 0 5px var(--nav-color);
  z-index: 1000;
}

.context_menu_close_icon {
  display: flex;
  justify-content: flex-end;
}

.context_menu_options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px 10px 10px;
}

.context_menu_option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.layout_container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  min-height: calc(100vh - 120px);
}

.sidebar {
  padding: 10px;
  overflow-y: auto;
}

.main_content {
  padding: 10px;
  overflow-y: auto;
}

.folder_name {
  font-size: 1rem;
  font-weight: bold;
}

.folder_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.links_container {
  width: 300px;
  background-color: rgba(230, 81, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}

.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.link_url {
  color: var(--white);
  font-size: 0.8rem;
}

.link_description {
  color: var(--white);
}

.screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.screenshot:hover {
  transform: scale(1.05);
}
